<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant management</title>
    <link rel="stylesheet" href="/css/orderStyle.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/invoice">Invoice</a>
        <a href="/revenue" >Revenue</a>
        <a href="/order" class="active">Order</a>
        <a href="/customer">Customer</a>
    </nav>
    <div>
        <div class="title">Detail of invoice</div>
        <div class="table-container detail-payment">
            <table>
                <tr>
                    <th>Total Order</th>
                    <td><%=invoiceDetail.TONGHOADON%></td>
                </tr>
                <tr>
                    <th>Discount on Food</th>
                    <td><%=invoiceDetail.GIAMMONAN%></td>
                </tr>
                <tr>
                    <th>Discount on Invoice</th>
                    <td><%=invoiceDetail.GIAMHOADON%></td>
                </tr>
                <tr>
                    <th>Service Fee</th>
                    <td><%=invoiceDetail.PHIDICHVU%></td>
                </tr>
                <tr>
                    <th>Surcharge</th>
                    <td><%=invoiceDetail.PHIPHUTHU%></td>
                </tr>
                <tr>
                    <th>VAT</th>
                    <td><%=invoiceDetail.VAT%></td>
                </tr>
                <tr>
                    <th>Payment</th>
                    <td><%=invoiceDetail.RES%></td>
                </tr>
            </table>
        </div>
        
    </div>
</body>
</html>