<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant management</title>
    <link rel="stylesheet" href="/css/orderStyle.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/invoice">Invoice</a>
        <a href="/revenue">Revenue</a>
        <a href="/order" class="active">Order</a>
        <a href="/customer">Customer</a>
    </nav>
    <div class="title">
        List of unpaid orders
    </div>

    <div class="table-container">
        <table>
            <tr>
                <th>Order ID</th>
                <th>Branch ID</th>
                <th>Reservation Time</th>
                <th>Dining Time</th>
                <th>Customer's Phone Number</th>
                <th>Option</th>
            </tr>

            <%orders.forEach(order=>{%>
                <tr>
                    <td>
                        <%=order.MADON%>
                    </td>
                    <td>
                        <%=order.MACHINHANH%>
                    </td>
                    <td>
                        <%= new Date(order.THOIGIANDAT).toISOString()%>
                    </td>
                    <td>
                        <%=new Date(order.THOIGIANDUNG).toISOString()%>
                    </td>
                    <td>
                        <%=order.SDT%>
                    </td>
                    <td>
                        <form action="/order/payment/<%=order.MADON%>" method="get">
                            <button type="submit">Pay</button>
                        </form>
                    </td>
                </tr>
            <%})%>
        </table>
    </div>
</body>

</html>